html {
  scroll-behavior: smooth;
}

.header {
  padding: 60px;
  text-align: center;
  width: 100%;
  background: lightyellow;
  color: red;
  font-size: 30px;
  text-shadow: 2px 2px black;
  background-image: url('./song.jpg');
  
}
body {
  background: lightyellow;

}

table,th,td {
  display: flax;
  flex-wrap: wrap;
  background: lightyellow;
  border: 1px solid black;
  border-collapse: collapse;
}
table,th,td {
  background: grey;
  font-weight: bold;
  padding: 20px;
  font-style: Roboto Mono;
  caption-side: bottom;
  color: black;
  text-align: center;
  letter-spacing: 1px;

}
th{
  font-size: 20px;
  font-weight: bold;
  color: red;
  text-shadow: 1px 1px black;
  
}

th,td {
  padding-left: 10px;
}
table { 
  box-shadow: 10px 10px 5px #888;
 }

footer {
  background: lightyellow;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px red;
}
