body {
    background-image:url('zolapic.jpg');
    background-repeat: no-repeat;
    background-color:silver;
    background-blend-mode:luminosity;
    background-size:cover;
    position:fixed;
    background-position: 50% 50%;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    padding: 0 auto;
    margin: 0 auto;
    max-height:100%;
    width:100%;
}

h1 {
    color:rgb(243, 235, 218);
    font-size:40px;
    font-family: 'Alegreya', cursive;
    font-weight:50;
    text-align: center;
    letter-spacing: 4px;
    word-spacing: 10px;
    font-style:italic;
    text-shadow: 2px 2px goldenrod;
}
header {
    background-image: linear-gradient(to right, rgba(85, 90, 22, 0.637), rgb(65, 55, 55));
    background-blend-mode:exclusion;
    box-sizing:border-box;
    margin: 0 auto;
    padding: 0 auto;
    width:1920px;
    height: 90px;
}

div.about{
    background-image: linear-gradient(to left, rgba(85, 90, 22, 0.637), rgb(65, 55, 55));
    height:450px;
    width:350px;
    position: fixed;
    bottom:250px;
    right:1200px;
    border: 3px solid black;
    text-align: justify;
    padding: 0 1%;
    color:gold;
    font-family: 'Changa', sans-serif;
    
}


div.links{
    background-image: linear-gradient(to left, rgba(85, 90, 22, 0.637), rgb(65, 55, 55));
    height:150px;
    width:330px;
    position:fixed;
    bottom:600px;
    right:490px;
    border: 3px solid black;
    color:gold;
}
h2 {
    font-family: monospace;
    text-align: center;
}
h3 {
    font-family: monospace;
    text-align: center;
    font-size: 1.5rem;
}

div.about img {
    border-radius: 50%;
    height:150px;
    width:150px;
    position: absolute;
    left: 120px;
    transition:3s ease-in-out;
    -webkit-transition: 3s ease-in-out;
}
div.about img:hover {
    transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -ms-transform:rotate(360deg);

}

div.regform {
    background-image: linear-gradient(to left, rgba(85, 90, 22, 0.637), rgb(65, 55, 55));
    height:140px;
    width:250px;
    position:fixed;
    border: 3px solid black;
    bottom: 325px;
    right: 600px;
    color: gold;
    text-align: justify;
    letter-spacing:0.4px;
}

footer {
    background-image: linear-gradient(to left, rgba(85, 90, 22, 0.637), rgb(65, 55, 55));
    height:80px;
    width:1920px;
    position: fixed;
    bottom:0px;   
    border: 3px solid black;
}

iframe {
    position:fixed;
    top:420px;
    right:80px;
    height:300px;
    width:450px;
    border:inherit;
}

div.regform thead {
    text-align: center;
    text-decoration:none;
    font-size:1.5rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div.regform tbody {
    border: 2px solid gold;
    font-size: 0.85em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h5 {
    color:rgb(243, 235, 218);
    font-size:25px;
    font-family:cursive;
    font-weight:50;
    text-align: center;
    letter-spacing: 3px;
    font-style:italic;
    text-shadow: 2px 2px goldenrod;
}
div.regform table a {
        text-decoration: none;
        color: inherit;
}
div.regform table a:hover {
    background-color: red;
}

div.gif {
    position: absolute;
    right: 100px;
    top: 100px;
}

.bouncyball {
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    width:150px;
    height:150px;
    border-radius:50%;
    background-color:red;
    position:fixed; 
    top:50px;
    left:75px;
    animation: dropball 3s cubic-bezier(.5,0.05,1,.5);
    animation-direction: alternate;
    animation-iteration-count: infinite;
 }
 

@keyframes dropball {
    from { transform:translate3d(0, 0, 0);
    }
    to { transform:translate3d(0, 800px, 0);
    }
}



@keyframes dropball2 {
    0% {
        background: red;
    }
    25% {
        background: green;
    }
    50% {
        background: pink;
    }
    75% {
        background: blue;
    }
    100% {
        background: ivory;
    }
}