body {
    margin: 5;
    background-image: url("../jadavey91/img/musicbackground.jpg");
    background-size: cover;
}

th {
    background-color: #333;
    color: #fff;
}

td {
    border: 1px solid #333;
}
footer {
    bottom: 0px;
    left: 0px;
    position: fixed;
}