@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

* {
    background-color: rgb(143, 0, 0);
}

h2 {
    font-family: 'Yusei Magic', sans-serif;
    text-align: center;
    font-size: x-large;
}

.top {
    font-family: 'Yusei Magic', sans-serif;
    text-align: center;
    font-size: large;
}

table {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vh;
}

thead {
    font-family: 'Yusei Magic', sans-serif;
    text-align: center;
    border: 1px solid black;
}

tbody {
    font-family: 'Yusei Magic', sans-serif;
    text-align: center;
    border: 1px solid black;
    
}

#vid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3vh;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vh;
    font-family: 'Yusei Magic', sans-serif;
    font-size: large;
}

a {
    color: rgb(77, 17, 77);
    text-decoration: none;
}

a:hover {
    color: rgb(49, 2, 49);
    cursor: grab;
}