
table,
td{
    border: 1px solid black;
    margin: 20px, 20px, 20px, 20px;
    font-size: 25px;

}
thead{
    background-color: rgb(160, 160, 116);
    color: black;
}
h2{
    font-size: 30px;
}
div{
    margin-left: 30px;
    margin-top: 50px;
}
#inlineFrame2{
    margin-left: 20px;
}
#inlineFrame3{
    margin-left: 20px;
}