* {
    box-sizing: border-box;
    margin: 0;
 }

/* ------ HEADER ------ */
.header{
    color: white;
    text-align: center;
    text-shadow: 10px 2px black;
}
.first{
    color: rgb(128, 128, 128);
    text-shadow: 10px 2px black;
}
.top{
    background-color: #181818;
    padding: 150px;
    font-size: 3em;
}








table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}
footer {
    background-color: #181818;
    color: #ffffff;
    font-size: 0.8rem;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
 }