body {
    background-color: rgba(157, 255, 130, 0.701);
}

h1, h2, h3 {
    color: white;
    text-shadow: 1px 1px #5634ad,
                2px 2px #48b79b,
                3px 3px #efa321,
                4px 4px #3bb0f4;
}

.video {
    position: relative;
    left: 50px;
}
.lyrics {
    padding-left: 4%;
    position: absolute;
    left: 10px;

}
.original {
    padding-right: 10%;
}

footer {
    background-color: teal;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > p {
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

footer > a {
    font-size: 15px;
    text-decoration: double;
    font-weight: bold;
}