@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

html, body {
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    color: black;
    text-align: center;
}

header {
    text-align: center;
    background-color: #cccccc;
    padding: 0;
    margin: 0;
    color: white;
    text-transform: uppercase;
    font-size: 3em;
}

thead, tr, th, tbody {
    text-align: center;
    align-items: center;
}

.tableDiv {
    display: block;
    align-items: center;
    padding: 0% 37.5%;
}

table, td {
    border: 2px solid black;
}

thead,
tfoot {
    background-color: #cccccc;
    color: black;
}

p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: larger;
}

footer {
    background-color: #cccccc;
    font-size: 1em;
    color: white;
}

#GitHubProfile, #GitHubPages {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 1em;
    padding-right: 1em;
}

footer > p {
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: white;
}