* {
    text-align: center;
    background-color: plum;
    font-family: sans-serif;
    
}
td{
    font-style: italic;
    text-shadow: hotpink 2px 4px 2px;
    color: pink;
}
table th a{
    font-style: italic;
    text-shadow: hotpink 2px 4px 2px;
    color: pink;
    width: 50%;
    font-size: xx-large;
}
.center {
    margin-left: auto;
    margin-right: auto;
  }
  footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color:hotpink;
    color: mistyrose;
    text-shadow: navy 2px 4px 7px;
}
